.detail-page-header.clearfix
  .snippet-box.has-tooltip.inline.append-right-5{ title: snippet_visibility_level_description(@snippet.visibility_level, @snippet), data: { container: "body" } }
    %span.sr-only
      = visibility_level_label(@snippet.visibility_level)
    = visibility_level_icon(@snippet.visibility_level, fw: false)
  %strong.item-title
    Snippet #{@snippet.to_reference}
  %span.creator
    created by #{link_to_member(@project, @snippet.author, size: 24, author_class: "author item-title")}
    = time_ago_with_tooltip(@snippet.created_at, placement: 'bottom', html_class: 'snippet_updated_ago')
    - if @snippet.updated_at != @snippet.created_at
      %span
        = icon('edit', title: 'edited')
        = time_ago_with_tooltip(@snippet.updated_at, placement: 'bottom', html_class: 'snippet_edited_ago')

  .snippet-actions
    - if @snippet.project_id?
      = render "projects/snippets/actions"
    - else
      = render "snippets/actions"

.content-block.second-block
  %h2.snippet-title.prepend-top-0.append-bottom-0
    = markdown escape_once(@snippet.title), pipeline: :single_line
